A. CIRI CIRI DAN KLASIFIKASI JAMUR
    1. Pengertian Jamur 
Kata jamur berasal dari kata latin yakni fungi. Jamur (fungi) adalah yang sifatnya eukariotik dan tidak berklorofil. jamur (fungi) ini reproduksi dengan secara aseksual yang menghasilkan spora, kuncup, dan fragmentasi. Sedangkan dengan secara seksual dengan zigospora, askospora, dan basidiospora. Jamur (fungi) ini hidupnya ditempat- tempat yang berlembap, air laut, air tawar, ditempat yang asam dan bersimbosis dengan ganggang yang membentuk lumut (lichenes)
    2. Ciri – ciri Jamur (Fungi)
Fungi (jamur) merupakan organisme eukariot, kebanyakan multiseluler, beberapa uniseluler, tidak berklorofil, dinding selnya mengandung kitin dan glukan. Jamur bersifat heterotrof yaitu sebagai saprofit, parasit, dan hidup bersimbiosis dengan organisme lain. Jamur banyak terdapat dilingkungan, bentuknya macam- macam, ada yang seperti bola, gada, payung, dan sebagainya. Jamur berhabitat ditempat lembab, kurang cahaya, dan mengandung sisa- sisa organik, pada kayu yang lapuk dan tempat buangan sampah.
    3. Struktur Tubuh Jamur
Struktur tubuh jamur te rgantung pada jenisnya. Ada jamur yang uniseluler, misalnya khamir, ada pula jamur yang multiseluler membentuk tubuh buah besar yang ukurannya mencapai satu meter, contohnya jamur kayu. Tubuh jamur tersusun dari komponen dasar yang disebut hifa. Hifa membentuk jaringan yang disebut miselium. Miselium menyusun jalinan-jalinan semu menjadi tubuh buah.
Hifa adalah struktur menyerupai benang yang tersusun dari dinding berbentuk pipa. Dinding ini menyelubungi membran plasma dan sitoplasma hifa. Sitoplasmanya mengandung organel eukariotik. Kebanyakan hifa dibatasi oleh dinding melintang atau septa. Septa mempunyai pori besar yang cukup untuk dilewati ribosom, mitokondria, dan kadangkala inti sel yang mengalir dari sel ke sel. Akan tetapi, adapula hifa yang tidak bersepta atau hifa senositik. Struktur hifa senositik dihasilkan oleh pembelahan inti sel berkali-kali yang tidak diikuti dengan pembelahan sitoplasma.
Hifa pada jamur yang bersifat parasit biasanya mengalami modifikasi menjadi haustoria yang merupakan organ penyerap makanan dari substrat; haustoria dapat menembus jaringan substrat. Pada beberapa jamur, dinding hifa mengandung selulosa, tetapi pada umumnya terutama terdiri atas nitrogen organic, yaitu kitin.

Macam-macam hifa:
    a. Aseptat, yaitu hifa yang tidak mempunyai sekat atau septum dan biasa disebut senosit.
    b. Septat uninukleus, yaitu hifa dengan sel beinti tunggal, sekat membagi hifa menjadi ruang-ruang dan setiap ruang berisi satu inti.
    c. Septat multinukleus, yaitu hifa dengan sel banyak.
Gambar 1. Hifa pada Jamur http://mimikologi.blogspot.com/ 

    4. Klasifikasi Jamur 
Berdasarkan cara reproduksi seksualnya, Fungi atau jamur dibagi menjadi empat divisi, yaitu Zygomycotina, Ascomycotina, Basidiomycotina, dan Deuteromycotina.
    1) Zygomycota
Jamur ini dinamakan sebagai Zygomycota karena membentuk spora istirahat berdinding tebal yang disebut dengan zigospora. Zygomycota berhabitat di darat, di tanah, atau pada sisa organisme mati Zygomycota merupakan kelompok utama yang dapat dikatakan penting karena membentuk mikorisa (simbiosis jamur dengan akar tanaman). Anggota Zygomycota yang utama adalah hidup sebagai saprofit.
Misliem pada Rhizopus memiliki tiga tipe hifa yaitu sebagai berikut
    a. Stolon, hifa yang membentuk jaringan pada permukaan substrak (misalnya roti)
    b. Rizoid, hifa yang menembus substrak dan berfungsi sebagai jangkar untuk menyerap makanan
    c. Sporangiofor, hifa yang tumbuh dengan tegak pada permukaan substrak dan memiliki sporangium globuler di ujungnya 
Ciri – ciri Zygomycota
    a. Zygomycota habitat didarat, tanah dan hidup dengan saprofit
    b. Merupakan kelompok utama dalam membentuk mikoriza
    c. Memiliki miselium yang bercabang banyak dan juga tidak bersekat- sekat
    d. Zygomycota memiliki hifa yang bersifat senositik
    e. Dinding sel terdiri dari kitin dan tidak memiliki zoospora sehingga spora memiliki sel-sel yang berdinding
    f. Bereproduksi secara aseksual dan seksual
    g. Reproduksi secara seksual adalah dilakukan dengan peleburan dua hifa yaitu hifa betina dan jantan. Hifa betina adalah hifa yang memberikan isi selnya. Sedangkan hifa jantan adalah hifa yang menerima isi selnya
    h. Reproduksi secara aseksual adalah dilakukan pada spora yang telah pecah yang berasal dari sporangium, sehingga beberapa hifa akan muncul dengan ujung yang membentuk sporangium berisi spora yang jika terhambur akan membentuk miselium baru
    i. Hifa berfungsi dalam menyerap makanan yang disebut dengan rizoid
        Gambar 2. Spora pada Jamur http://mimikologi.blogspot.com/

    2) Ascomycota
Ascomycota adalah jamur yang berkembang biak dengan membentuk spora di dalam selnya yang disebut askus. Askus berbentuk seperti kantung kecil. Alat reproduksi aseksual berupa hifa. Contoh Ascomycota adalah Saccharomyces cerevisiae (fermentasi alkohol) dan Aspergillus flavus (penghasil racun aflatoksin)
Ciri – ciri Ascomycota
    a. Dinding selnya tersusun atas zat kitin
    b. Unisel dan multiseluler
    c. Hifa bersekat, membentuk badan buah yang disebut ascokarp
    d. Mengandung inti haploid
    e. Memiliki keturunan diploid lebih singkat
    f. Reproduksi vegetatifnya dengan membentuk konidiospora
    g. Reproduksi generatifnya dengan konjugasi yang menghasilkan askospora

Gambar 3. Ascomycota (Sumber : Google Image)

Contoh Jamur-jamur yang termasuk anggota Ascomycota adalah sebagai berikut. Uniseluler :
    a. Saccharomyces sp., meliputi Saccharomyces cerevisiae, Saccharomyces sake, dan
Saccharomyces tuac.
    b. Candida sp., meliputi Candida albicans dan Candida utilis

Multiseluler :
    a. Penicillium sp. meliputi Penicillium notatum, Penicillium chrysogenum, Penicillium camemberti, Penicillium roqueforti, dan Penicillium vermiculatum. Kelompok Penicillium ini memiliki askokarp berbentuk bola yang disebut kleistotesium.
    b. Aspergillus sp., meliputi Aspergillus wentii, Aspergillus niger, Aspergillus flavus, Aspergillus oryzae, dan Aspergillus fumigatus.
    c. Neurospora sp., meliputi Neurospora crassa dan Neurospora sitophila. Neurospora memiliki spora berwarna oranye, dengan askokarp berbentuk botol berleher. Askokarp ini dilengkapi lubang yang disebut ostiolum sebagai tempat keluarnya askus dan askospora. Bentuk askokarp seperti ini disebut peritesium

    3) Basidiomycota
Basidiomycota adalah jamur yang berukuran makroskopis, bereproduksi aseksual dengan membentuk spora di atas sel yang disebut basidium. Reproduksi seksual dilakukan dengan membentuk spora konidia
Ciri-ciri Basidiomycota
            a. Multiseluler
            b. Hifa bersekat, dibedakan hifa primer (berinti satu) dan sekunder (berinti
            c. dua)
            d. Dinding selnya tersusun atas zat kitin
            e. Reproduksi vegetatif dg membentuk konidiaspora memiliki satu inti haploid
            f. Reproduksi generatif dg menghasilkan basidiospora
            g. Mengandung inti haploid
            h. Memilki keturunan diploid lebih singkat
            i. Memiliki basidiokarp
            j. Badan buah berbentuk seperti payung atau kuping
            k. Beberapa jenis dapat dijadikan sumber makanan

Beberapa anggota dari genus Amanita mengandung racun yang sangat mematikan. Beberapa jenis Basidiomycota juga dapat membahayakan tumbuhan, misalnya menyebabkan kematian pada tanaman ladang.
Contoh: Auricularia polytricha (jamur kuping), Volvariella volvaceae (jamur merang), Puccinia graminis
Gambar 4. Jamur Basidiomycota (Sumber : Google Image)

    4) Deuteromycota
Deuteromycotina beranggotakan jamur-jamur yang belum diketahui cara reproduksi seksualnya. Oleh sebab itu, Deuteromycotina disebut juga Fungi imperfecti atau jamur tidak sempurna. Jika suatu jamur dalam penelitian lebih lanjut diketahui cara reproduksi seksualnya, jamur tersebut akan dimasukkan ke dalam divisi yang sudah ada, yaitu Zygomycotina, Ascomycotina, atau Basidiomycotina. Jamur Monilia merupakan contoh jamur yang sebelumnya digolongkan ke dalam Deuteromycotina. Akan tetapi, setelah diketahui cara reproduksi seksualnya, jamur ini kemudian dipindahkan ke dalam divisi Ascomycotina. Namanya juga diubah menjadi Neurospora.

Ciri-ciri lain dari jamur Deuteromycotina adalah sebagai berikut
    a. Memiliki hifa bersekat dengan dinding sel dari bahan kitin
    b. Multiseluler dan uniseluler
    c. Reproduksi vegetatif dg membentuk konidiaspora
    d. Jarang membentuk tubuh buah
    e. Sebagian besar bersifat mikroskopis.
    f. Hidup sebagai saprofit atau parasit

    5. Lich
    <p>subjects works!</p>enes
Fungi jenis tertentu dapat bersimbiosis dengan algae uniseluler membentuk lichen (lumut kerak). Simbiosis ini bersifat menguntungkan. Biasanya antara anggota dari jamur ascomycota dan basiodiomycota dengan alga hijau dan cyanophyta. 
    
Gambar 5. Lichenes (https://biologigonz.blogspot.com) 

Lumut kerak merupakan organisme perintis karena dapat hidup di tempat dimana organisme lain tidak dapat hidup. Reproduksi secara aseksual, yaitu dengan fragmentasi dan membentuk soredia/soredium. Lumut kerak umumnya berbentuk talus kecil. Berdasarkan bentuk talusnya, lumut kerak dibedakan menjadi 3, yaitu :
    a. Talus Crustose (seperti kerak), yaitu talus yang menutupi seluruh permukaan substratnya.Contohnya Graphis , melekat pada batang pohon seperti coret- coretan
    b. Talus Fructicose (seperti semak), yaitu talus yang dibentuk oleh suatu jaringan berbentuk bulatan kecil seperti jalinan jala yang tidak rapat. Contoh : Usnea longisima, melekat pada pucuk pohon Cladonia, hidup di kutub utara
    c. Talus Foliose (seperti daun ), yaitu talus yang berbentuk seperti daun dua lapis (atas dan bawah) serta memiliki bentuk dan warna berbeda. Contoh : Parmelia melekat pada batu-batuan
    6. Mikoriza
Mikoriza merupakan simbiosis antara fungi dengan akar tanaman. Simbiosis ini menguntungkan bagi keduanya.
    • Bagi tanaman : meningkatkan penyerapan air dan mineral.
    • Bagi fungi : mendapatkan nutrisi dari tanaman.

Mikoriza dibedakan menjadi 2, yaitu
    a. Ektomikoriza, yaitu jika hifa jamur hanya hidup di daerah permukaan akar tanaman, yakni pada jaringan epidermis. Misalnya pada akar Pinus. Dengan adanya ektomikoriza, tumbuhan Pinus tahan kekeringan dan tahan pada penyakit akar
    b. Endomikoriza, yaitu jika hifa jamur menembus akar hingga masuk ke jaringan korteks.Misalnya jamur yang hidup di akar anggrek dan sayuran.

    B. REPRODUKSI DAN PERANAN JAMUR 

    1. Cara Hidup Jamur
    Seperti halnya hewan, jamur merupakan organisme heterotrof. Jamur bertahan hidup dengan menyerap nutrisi dari lingkungan atau tubuh hewan yang telah mati. Jamur lainnya mendapat nutrisi dari organisme yang masih hidup dan merupakan parasit penyebab penyakit. Ada pula jenis jamur yang melakukan simbiosis mutualisme dengan organisme lain, termasuk Lichenes dan mikoriza.
Berdasarkan cara memperoleh nutrisinya, jamur dibedakan menjadi jamur saprofit dan jamur parasit, 
    a. Jamur saprofit adalah jamur yang memperoleh nutrisi dengan cara menguraikan tubuh organisme yang telah mati atau bahan organik lainnya. Jamur jenis ini banyak ditemukan pada tumpukan sampah organik yang basah, bahan makanan, batang tumbuhan, pakaian, atau benda-benda yang terbuat dari kulit. Di alam, jamur saprofit berperan sebagai pengurai (dekomposer) yang menguraikan kembali sisasisa tubuh organisme menjadi zat-zat hara dalam tanah.
    b. Jamur parasit adalah jamur yang memperoleh makanan dengan cara menyerap nutrisi dari organisme inangnya. Jamur ini dapat menimbulkan penyakit pada organisme yang ditumpanginya
Ada dua jenis jamur parasit, yaitu jamur parasit obligat dan jamur parasit fakultatif.
    a. Jamur parasit obligat adalah jamur yang hanya dapat hidup sebagai parasit. Jika ia berada di luar inangnya, jamur tersebut akan mati.
    b. Jamur parasit fakultatif adalah jamur yang dapat hidup sebagai parasit dan juga sebagai saprofit. Jamur tersebut bersifat parasit hanya ketika mendapatkan hospes yang sesuai.
    2. Perkembangbiakan Jamur
    a. Daur Hidup Zygomycota
Zygomycota mengalami dua macam cara bereproduksi. Reproduksi yang dilakukan secara aseksual terjadi bila kondisi lingkungan baik dan mendukung, sedangkan pada reproduksi yang dilakukan secara seksual terjadi pada kondisi lingkungan yang kering dan tidak menguntungkan.
Reproduksi Zygomycota
    1) Reproduksi Aseksual
Reproduksi secara aseksual Zygomycota adalah dilakukan dengan cara fragmentasi hifa dan pembentukan spora aseksual (sporangiospora). Hifa dewasa yang terputus dan juga terpisah dapat tumbuh menjadi sebuah hifa jamur baru. Pada bagian hifa tertentu yang sudah dewasa akan terbentuk sporangiofor yang ujungnya terdapat sporangium (kotak spora). Didalam sporangium terjadi pembelahan secara mitosis dengan menghasilkan sporangiospora yang berkromosom haploid (n).
    2) Reproduksi Seksual Zygomycota
Zygomycota bereproduksi secara seksual adalah dilakukan dengan cara pembentuk spora seksual (zigospora) melalui peleburan antara hifa yang berbeda jenis.

Gambar 6. Daur hidup Zygomycota (https://www.quipper.com/id/blog)
Bagan Daur hidup Zygomycota

    b. Daur Hidup Ascomycota atau Reproduksinya
Didalam daur hidupnya, Ascomycota uniseluler ataupun multiseluler yang dapat bereproduksi dengan secara aseksual (vegetatif) serta juga reproduksi demham secara seksual (generatif). Berikut ini adalah uraian reproduksi secara aseksual serta juga seksual
Reproduksi aseksual dan seksual Ascomycota
Untuk lebih jelasnya, perhatikan siklus reproduksi seksual pada Ascomycotina uniseluler berikut ini :
Gambar 7. Reproduksi Ascomicotina Uniseluler (https://www.quipper.com/id/blog )
Bereproduksi aseksual dilakukan dengan 2 (dua) cara, yaitu fragmentasi hifa serta pembentukan spora aseksual konidiospora. Hifa dewasa yang terputus menjadi hifa jamur baru. Hifa haploid (n) yang sudah dewasa akan menghasilkan konidiofor (tangkai konidia). Pada ujung konidiofor terbentuk spora yang diterbangkan oleh angin yang disebut konidia. Konidia mempunyai jumlah kromosom yang haploid (n). Hifa akan bercabang-cabang membentuk miselium yang haploid (n)
Jamur uniseluler bereproduksi secara seksual dengan membentuk askospora dapat dilihat pada bagan berikut.

Hifa (+) membentuk askogonium alat reproduksi betina) dan hifa (-) membentuk anteridium (alat reproduksi jantan, Keduanya bersifat haploid

Askogonium membentu saluran menuju anteridium yang disebut trikogen. Melalui trikogen terjadi plasmogame (peleburan sitoplasma)


Askogonium akan menerima inti sel haploid dari anteridium sehingga dalamarkegonium terdapat dua inti (dikariotik)



Askogonium tumbuh menjadi hifa dikariotik dan bercabang serta tergabung dalamaskokarp

Ujung hifa pada askokarp membentuk askus dikariotik. Di dalam askus terjadi kariogame sehingga terbentuk inti sel diploid

Inti sel haploid di dalam askus membelah secara meiosis, sehingga terbentuk 4 inti sel haploid. Selanjutnya setiap inti membelah secara mitosis sehingga terbentuk 8 inti del haploid


Di sekitar inti terbentuk diding sel dan menghasilkan askospora yang haploid


Jika askus telah masak,askospora akan tersebar secara serentak. Askospora yang jatuh di tempat yang sesuai akan menjadi hifa baru yang haploid. Hifa akan bercabang menjadi miselium




Gambar 8. Siklus Reproduksi Seksual pada Ascomycotina Multiseluler
(https://www.quipper.com/id/blog) 

    c. Reproduksi Basidiomycotina
Cara pembentukan basidiospora adalah sebagai berikut

Basidiomycotina dapat bereproduksi secara aseksual dan seksual.
    1) Reproduksi aseksual Reproduksi aseksual Basidiomycotina dilakukan dengan membentuk konidiospora (spora konidia) yang terdapat di ujung konidiofor. Konidiofor dibentuk oleh hifa haploid. Oleh karena itu, konidiospora merupakan spora yang haploid (n). Selain itu, ada juga yang membentuk kuncup dan melakukan fragmentasi miselium.
    2) Reproduksi seksual Reproduksi seksual Basidiomycotina dilakukan dengan membentuk basidiospora.
    Gambar 9. Reproduksi Seksual pada Basidiomycotina 
(https://www.quipper.com/id/blog) 

    d. Reproduksi Deuteomycota
    Fase pembiakan pada monilia sp., yaitu secara vegetative kemudian diteliti ternyata juga terdapat fase generatif. Setelah diketahui fase generatifnya, kemudian jamur ini dimasukkan golongan ascomycocetes dan diganti namanya menjadi Neurospora sitophilla atau Neurospora crassa .
Reproduksi generative Monilia sp., dengan menghasilkan askospora. Askus-askus yang tumbuh pada tubuh buah dinamakan peritesium, tiap askus mengandung delapan spora. Contoh lain jamur yang tidak diketahui alat reproduksi seksualnya antara lain : Chalado sporium, curvularia, gleosporium, dan diploria. 

    3. Peranan Jamur dalam kehidupan manusia
    Penggunaan manusia jamur untuk persiapan makanan atau pelestarian dan keperluan lainnya sangat luas dan memiliki sejarah panjang. Jamur pertanian dan mengumpulkan jamur merupakan industri besar di banyak negara. Studi tentang dampak menggunakan historis dan sosiologis dari jamur ini dikenal sebagai ethnomycology.
Karena kapasitas kelompok ini untuk menghasilkan berbagai besar produk alami dengan antimikroba aktivitas biologis atau lainnya, banyak spesies telah lama digunakan atau sedang dikembangkan untuk industri produksi antibiotik , vitamin, 3. dan anti-kanker dan kolesterol-menurunkan obat.
Baru-baru ini, metode telah dikembangkan untuk rekayasa genetika jamur, yang memungkinkan rekayasa metabolik spesies jamur. Sebagai contoh, modifikasi genetik dari spesies ragi yang mudah tumbuh pada tingkat yang cepat dalam fermentasi besar kapal-telah membuka cara farmasi produksi yang berpotensi lebih efisien daripada produksi oleh organisme sumber asli
Peran jamur bagi kehidupan :
    a. Peranan Menguntungkan
    • Sebagai pengurai.
    • Dapat dikonsumsi.
    • Menghasilkan obat-obatan.
    • Dapat meningkatkan kesuburan tanaman.
    b. Peran Merugikan
    • Menyebabkan penyakit pada manusia.
    • Menyebabkan kerusakan pada tanaman