<div class="grid grid-cols-auto gap-4">

	<!-- Slide show / carousel -->
	<section [id]="'home-header-carousel'">
		<app-slide-show [imageResources]="imageResources" [timeInterval]="4500"></app-slide-show>
	</section>

	<!-- Our solution -->
	<section class="container mx-auto grid grid-cols-auto gap-4 justify-items-center" [id]="'home-our-solution'">
		<span class="text-2xl font-medium">{{ 'Solusi dari kami' | titlecase }}</span>

		<div class="grid grid-cols-3 gap-4 justify-items-center">

			<div class="grid justify-items-center">
				<i class="material-icons text-9xl text-center">view_timeline</i>
				<span class="text-xl text-center">{{ 'Materi' | titlecase }}</span>
				<p class="text-center">Banyak materi dalam Fungi yang akan di sajikan dalam narasi.</p>
			</div>

			<div class="grid justify-items-center">
				<i class="material-icons text-9xl text-center">rate_review</i>
				<span class="text-xl text-center">{{ 'Latihan Soal' | titlecase }}</span>
				<p class="text-center">Jika sudah paham maka bisa melakukan latihan dengan soal-soal, jadi bisa lebih paham.</p>
			</div>

			<div class="grid justify-items-center">
				<i class="material-icons text-9xl text-center">event_available</i>
				<span class="text-xl text-center">{{ 'Glosarium' | titlecase }}</span>
				<p class="text-center">Ada juga glosarium untuk menambah wawasan kita dalam materi fungi.</p>
			</div>

		</div>
	</section>

	<!-- Price list -->
	<!-- <section class="container mx-auto grid grid-cols-auto gap-4 justify-items-center" [id]="'home-product-price-list'">
		<span class="text-2xl font-medium">{{ 'Daftar harga produk' | titlecase }}</span>

		<app-price-list [priceListResources]="priceListResources"></app-price-list>
	</section> -->

	<!-- Send message form -->
	<!-- <section class="container mx-auto grid grid-cols-auto gap-4" [id]="'home-send-message-form'">
		<span class="text-2xl font-medium text-center">{{ 'Daftar harga produk' | titlecase }}</span>

		<div class="grid grid-cols-3 gap-4">
			<div class="col-span-1">
				<div class="flex flex-row">
					<i class="material-icons text-7xl md:text-6xl tiny:text-xs">account_circle</i>
					<span class="basis-1/2 text-2xl mt-5 md:text-lg md:mt-3 xs:text-xs xs:mt-0">Social account</span>
				</div>
			</div>

			<div class="col-span-2">
				<app-send-message-form></app-send-message-form>
			</div>
		</div>
	</section> -->

</div>